:root {
  --color-title: black;
  --color-subheading: black;
  --color-maintext: #333333;
  --color-primary: #0f172a;
  --color-secondary: #0ca120;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f8fafc;
  color: #333;
  margin-top: 1em;
  margin-left: 15%;
  margin-right: 15%;
}

section {
  margin-left: .5em;
}

h1 {
  color: var(--color-title);
  padding: .5em 0em .1em 0em;
  font-size: 1.5em;
}

a.title {
  text-decoration: none;
  color: var(--color-title);
}

a.title:hover {
  color: dimgray;
  text-decoration: none;
}

/* h2 used for description field */
h2 {
  color: #0d2432;
  padding: .5em 0em 0em 0em;
  font-size: 1.2em;
  font-weight: 400;
}

/* blog maintext */
section p {
  color: var(--color-maintext);
  font-size: 1.1em;
  padding: .5em 0 .5em 0;
}

/* h3 = blog subheading */
h3 {
  color: var(--color-subheading);
  font-size: 1.1em;
  font-weight: 600;

  /* 4 values below: top right bottom left */
  padding: .6em 0 .3em 0
}

/* tag class is for the tags for each blog */
.tag.choose-tag {
  color: white;
  font-weight: 500;
  font-size: .9em;
  background-color: #191970;
  padding: .2em;
  border-radius: 5px;
  border: 1px solid #7f7dfe;
  margin-right: .2em;
  text-decoration: none;

}

/* tag-choose for tag listing in tags subdir */
.tag.choose-tag {
  margin: 0 .3em 0 0;
}

.tag.choose-tag:hover {
  background-color: dimgray;
}


small {
  font-size: 1em;
  padding-right: .5em;

}