
[data-theme="light"] {
  --brand-hue: 236deg;
  --brand-sat: 100%;
  --brand-lit: 50%;
  --brand: hsl(
    var(--brand-hue) 
    var(--brand-sat) 
    var(--brand-lit) 
  );
  --soft-brand: hsl(
    var(--brand-hue) 
    calc(var(--brand-sat) - 30%) 
    calc(var(--brand-lit) + 10%)
  );
  --dark-brand: hsl(
    var(--brand-hue) 
    var(--brand-sat) 
    calc(var(--brand-lit) - 20%)
  );

  --trans-brand: hsl(
    var(--brand-hue) 
    var(--brand-sat) 
    calc(var(--brand-lit) / .5)
  );
    
  --bg-high: hsl(272, 37%, 90%);
  --text-col: #2c3e50;
  --text-size: 1rem;
}


[data-theme="dark"] {
  --brand-hue: 5deg;
  --brand-sat: 88%;
  --brand-lit: 37%;
  --brand: hsl(
    var(--brand-hue) 
    var(--brand-sat) 
    var(--brand-lit) 
  );
  --soft-brand: hsl(
    var(--brand-hue) 
    calc(var(--brand-sat) - 30%) 
    calc(var(--brand-lit) + 10%)
  );
  --dark-brand: hsl(
    var(--brand-hue) 
    var(--brand-sat) 
    calc(var(--brand-lit) - 20%)
  );

  --trans-brand: hsl(
    var(--brand-hue) 
    var(--brand-sat) 
    calc(var(--brand-lit) / .5)
  );
    
  --bg-high: hsl(272, 37%, 90%);
  --text-col: #2c3e50;
  --text-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  list-style: none;
  text-decoration: none;
}

hr {
  margin-top: 2em;
  margin-bottom: .5em;
}

h1 {
  color: var(--brand);
  font-weight: 600;
  font-size: calc(var(--text-size) * 1.2)
}

h1 a {
  color: var(--brand);
  text-decoration: none;
}

h1 a:hover {
  color: var(--soft-brand);
  text-decoration: none;
}

h2 {
  margin: .8em .5em .2em 0;
  font-weight: 600;
  font-size: calc(var(--text-size) * .9); 

  
}


/* h3 used for description field */
h3 {
  /* padding-top: .5em; */
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 500;
  padding: .4em;
  color: var(--text-col);
  font-size: calc(var(--text-size) * .8)

}


h4 {
  margin: .8em .5em .2em 0;
  font-weight: 500;
  font-size: 1.2em;
  padding-bottom: .5em;
}

a.read-more {
  color: var(--soft-brand);
  font-weight: 600;
  font-size: 1em;
}


/* blog maintext */
p {
  padding: .5em 0 .2em 0;
  margin: 0 0 0 0;
}


/* used for col background of header component and tag-list underneath header */

.post-details {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: .5em .5em 0 0em
}

.post-date {
  font-size: small;
  margin-right: .5em;
}

.tag {
  color: white;
  padding: 4px 8px 4px 8px;
  background-color: var(--text-col);
  border-radius: 4px;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 400;
}

.tag-selected {
  background-color: var(--soft-brand);
  color: white;
}

.selectable-tag:hover {
  background-color: var(--soft-brand);
  color: white;
}

small {
  font-size: .9em;

}



.astro-code {
  border-radius: 7px;
  padding: .5em;
  margin: 0 0 0 0;
}

