:root {
  --color-title: black;
  --color-maintext: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--color-maintext);
  background: #f8fafc;
  margin-top: .5em;
  margin-left: 15%;
  margin-right: 15%;
  list-style: none;
}

section {
  margin-left: .5em;
}

h1 {
  color: var(--color-title);
  padding: .5em 0em .1em 0em;
  font-size: 1.2em;
}

a.title {
  text-decoration: none;
  color: var(--color-title);
}

a.title:hover {
  color: dimgray;
  text-decoration: none;
}

a.read-more {
  font-size: .8em;
}

/* h2 used for description field */
h2 {
  padding-top: .5em;
  font-size: 1em;
  font-weight: 400;
}

/* blog maintext */
p {
  padding: .5em 0 .5em 0;


}

/* h3 = blog subheading */
h3 {
  font-weight: 600;

  /* 4 values below: top right bottom left */
  padding: .6em 0 .3em 0
}

.tag-list {
  display: flex;
  min-height: 20px;

  /* Allow tags to overflow to next line  */
  flex-wrap: wrap;

  /* Align items to left or if in columns to the top */
  justify-content: flex-start;
  gap: .3em;
}

.tag {
  color: #191970;
  background-color: white;
  padding: 0 2px 0 2px;
  border: 2px solid grey;
  border-radius: 4px;
  text-decoration: none;
}

.choose-tag:hover {
  background-color: lightblue
}

small {
  font-size: .8em;
  padding-top: .4em;

}