---
import BaseLayout from "../../layouts/BaseLayout.astro";

import Solidhome from "../../components/Solidhome.jsx"
---

<BaseLayout title="Learning Solid JS">

    <section>
    <h1>Learning Solid</h1>

    <Solidhome client:load />

    </section>
</BaseLayout>

<style>


</style>
