---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostPreviewList from "../components/PostPreviewList.astro";
import TagsFilter from "../components/TagsFilter.astro";
import { PaginateFunction } from "astro";

const posts = await Astro.glob("./posts/*.mdx"); // returns an array of posts from location specified
posts.sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
);
---

<BaseLayout title="Advisor Wanted">
  <TagsFilter />
  <div class="container">
    <PostPreviewList posts={posts} />
  </div>

  <script>

const LS_THEME = 'astro.theme'    
let selectedTheme = localStorage.getItem(LS_THEME) || 'light' // check if setting saved, if not light
document.documentElement.setAttribute("data-theme", selectedTheme)

    // const LS_COLOR = 'color'
    // let colorChoice = JSON.parse(localStorage.getItem(LS_COLOR)) || {hue:'236deg', sat:'100%', lit:'50%'}
    
    // document.documentElement.style.setProperty('--brand-hue', colorChoice.hue)
    // document.documentElement.style.setProperty('--brand-sat', colorChoice.sat)
    // document.documentElement.style.setProperty('--brand-lit', colorChoice.lit)
    
  </script>
</BaseLayout>
