---
import BlogPostListingLayout from "../layouts/BlogPostListingLayout.astro";

const posts = await Astro.glob('./posts/*.md'); // returns an array of posts from location specified

---

<BlogPostListingLayout>
<div>
{posts.slice(0, 10).map((post) => (
  <article>
    <h1>{post.frontmatter.title}</h1>
    <span>{post.frontmatter.date}</span>
    <p>{post.frontmatter.description}</p>
    <a href={post.url}>Read more</a>
  </article>
))}
</div>
</BlogPostListingLayout>
