---
---

<header>
  <nav class="navbar">
    <div class="brand-title"><strong>DW Blog</strong></div>

    <div class="nav-list">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div>
  </nav>
</header>

<style>
  .navbar {
    min-height: 8vh;
    display: flex;

    /* brand to left, space in between then menu to the right */
    justify-content: space-between;

    /* centre text vertically */
    align-items: center;

    background-color: rgba(63, 117, 216, 0.918);
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .brand-title {
    flex-direction: column;
    align-items: left;
    font-size: 1.5rem;
    margin: 0 0 0 0.7em;
  }

  .nav-list ul {
    display: flex;
  }

  .nav-list li {
    list-style: none;
  }

  .nav-list li a {
    text-decoration: none;
    color: white;
    padding: 0 0.8em 0 0;
    font-size: large;
    font-weight: 600;
  }

  .nav-list li a:hover {
    color: black;
  }

  @media (max-width: 600px) {
    .navbar {
      min-height: 12vh;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
</style>
