---

---

<nav class="navbar">
  <div class="brand-title"><strong>DW Blog</strong> </div>
    <div class="div navbar-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div>

     

</nav>

<style>

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color: white;
  border-radius: 7px;
}

.brand-title {
  font-size: 1.8rem;
  padding: .2em;
  margin-left: .7rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;


}

.navbar-links li a:hover {
  background-color: #555;
}
</style>

