---
import TagChip from "./TagChip.astro";

const allPosts = await Astro.glob("../pages/posts/*.md"); // returns an array of posts from location specified

const alltagsSet = new Set();

allPosts.map((post) => {
    post.frontmatter.tags &&
        post.frontmatter.tags.map((tag) => alltagsSet.add(tag.toLowerCase()));
});

const allTags = Array.from(alltagsSet);

const { selectedTag } = Astro.props;
---

<section>
    <div class="tag-list">
        {
            allTags.map((tag) => (
                <TagChip nameOfTag={tag} selected={tag === selectedTag} />
            ))
        }
    </div>
</section>

<style>

</style>
