---
import BaseLayout from "./BaseLayout.astro";
import TagsFilter from "../components/TagsFilter.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <TagsFilter />

  <section class="container">
    <h1>{frontmatter.title}</h1>
    <small>
      {
        frontmatter.tags.map((tag) => (
          <span class="tag-outline">{tag + " "}</span>
        ))
      }
    </small>
    <h3>{frontmatter.description}</h3>
    <slot />
  </section>
</BaseLayout>
