---
import BaseLayout from "./BaseLayout.astro";
import TagsFilter from "../components/TagsFilter.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <TagsFilter />
  <section>
    <div class="blog-title">
      <h1>{frontmatter.title}</h1>
      <small>
        {
          frontmatter.tags.map((tag) => (
            <span class="tag-outline">{tag + " "}</span>
          ))
        }
      </small>
    </div>
    <slot />
  </section>
</BaseLayout>

<style>

</style>
