---
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Cool Astro Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      <a href="#">Contact</a>
    </nav>

  <h1>Welome to front page of site</h1>  

  </body>
</html>

<!-- <style>
  body {
    max-width: 80%;
  }
</style> -->